
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
</head>

<body class="d-flex flex-column min-vh-100">
  <div class="card-header text-center">
  <!-- header Navigation-->
  <div class="card-header text-center">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="/" >Dublin Gaming Center</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav  me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item ">
                <a class="nav-link text-dark"  href="/">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/login1">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/userDashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/adminDashboard">Admin</a>
              </li>
            </ul>
            <!--Log out-->
            <form action="/main" method="post">
              <button type="submit" name="logout" class="btn btn-primary btn-sm margin-right-2">logout</button>
            </form>
          </div>
        </div>
      </nav>
    </div>

        <!-- Body -->
        <div class="card-body mt-5">
          <h5 class="card-title mb-5 d-flex justify-content-center">Enter Verification Code</h5>
          
          <!--Join Form-->
          <form action="/login2" method="post">
            <div class="row mb-3 d-flex justify-content-center">
              <% for(var i = 0; i < length; i++) {%>
                <h2><%=alert[i]%></h2>
              <% } %>

              <!-- later we can remove email input form -->
         <!--    <div class="col-sm-3">
                <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" required>
              </div>
            </div>  -->

            <!--  -->

            <div class="row mb-3 d-flex justify-content-center">
             
              <div class="col-sm-3">
                <input type="text" class="form-control" id="inputToken" name="token" placeholder="Token" required>
              </div>
            </div>
         

              <div class="mt-5 d-flex justify-content-center me-auto gap-2">
              <button type="submit" class="btn btn-primary btn-sm margin-left-2">Verifiy</button>
            
            
            </div>
           </form>
          </div>
      </div>
    </body>

                
    <footer class="card-footer text-muted py-5 bg-light mt-auto">
        footer :)
      </footer>
</html>